/* MEDIA QUERY BREAKPOINTS */
/* G_U_I_D_E BEGINNING

//Using min-width PREFERED

 // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

//Using max-width

@media (max-width: 575.98px) { ... }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }

                              G_U_I_D_E ENDING/

                                  /* REAL USAGE */
/*// Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

  /* COMMON */
  .c-filter {
    justify-content: center;
  }

  .background-video {
    position: relative;
    top: 77%;
    text-align: center;
  }

  .custom-top-container {
    padding-bottom: 0px;
  }

  /* ABOUT */
  /* WORK */
}

/* // Medium devices (tablets, 768px and up), no less than 992px */
/* COMBINED MEDIAQUERY */
@media (min-width: 768px) and (max-width:992px) {

  /* COMMON */
  body {
    overflow-x: visible;
    overflow-y: visible;
  }

  .contact-footer {
    background-color: #fff;
    text-align: center;
    padding: 1% 15% 1%;
    width: 100%;
    position: relative;
    top: 15%;
  }

  /* ABOUT */
  .hari-image {
    position: absolute;
    left: 44.5%;
    top: 13%;
  }

  .y-1998 {
    position: absolute;
    top: 35%;
    left: 60%;
  }

  .y-2014 {
    position: absolute;
    top: 52%;
    left: 20%;
  }

  .y-2016 {
    position: absolute;
    top: 65%;
    left: 60%;
  }

  .y-2019 {
    position: absolute;
    top: 83%;
    left: 5.75%;
  }

  .y-2020-1 {
    position: absolute;
    top: 96%;
    left: 60%;
  }

  .y-2020-2 {
    position: absolute;
    top: 110%;
    left: 20%;
  }

  .y-2020-3 {
    position: absolute;
    top: 120%;
    left: 60%;
    z-index: 3;
  }

  .why {
    text-align: center;
    position: absolute;
    left: 79%;
    top: 19%;
    width: 20%;
    height: auto;
    transform: rotate(-5deg);
  }

  .skill-list {
    top: 115%;
    list-style: none;
    font-family: 'Courier Prime', monospace;
    color: #0d151c;
  }

  .passion-list {
    top: 115%;
    list-style: none;
    font-family: 'Courier Prime', monospace;
    color: #0d151c;
  }

  /* NEW-ABOUT */
  .pathway {
    visibility: hidden;
  }

  .pathway-mobile {
    position: absolute;
    left: 47%;
    top: 33%;
    width: 45px;
  }

  #footer-about {
    position: absolute;
    top: 115rem;
    z-index: 3;
  }

  .section-three {
    position: absolute;
    top: 135%;
  }

  .skill-tick, .passion-tick {
    padding: 2%;
  }

  /* WORK */
  .work-showcase {
    display: none;
  }

  #footer-work {
    background-color: #fff;
    text-align: center;
    padding: 1% 15% 1%;
    width: 100%;
    position: relative;
    top: 15%;
  }

  /* BLLOG */
  #footer-blog, #footer-personal {
    position: absolute;
    top: 93%;
  }

  .coming-soon {
    left: 33%;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  /* COMMON */
  .custom-dropdown {
    padding-bottom: 7%;
  }

  .c-filter {
    padding: 0 10%;
  }

  .contact-footer {
    background-color: #fff;
    text-align: center;
    padding: 1% 15% 1%;
    width: 100%;
    position: relative;
    top: 15%;
  }

  /* ABOUT */
  .y-2020-3 {
    position: absolute;
    top: 44.5%;
    left: 45%;
  }

  .y-1998 {
    position: absolute;
    top: 21%;
    left: 25%;
  }

  /* WORK */
  .work-layout {
    display: none;
  }

  .work-showcase {
    visibility: visible;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  /* COMMON */
  .contact-footer {
    position: absolute;
    margin: auto;
    top: 85%;
    padding-top: 2%;
    z-index: 2;
  }

  /* ABOUT */
  .skill-list {
    position: absolute;
    left: 10%;
    top: 55%;
  }

  .passion-list {
    position: absolute;
    left: 57%;
    top: 55%;
  }

  .my-words {
    position: absolute;
    left: 40%;
    top: 55%;
    text-align: center;
    color: #0d151c;
    width: 25%;
    height: auto;
    z-index: 4;
  }

  .pathway-mobile {
    display: none;
  }

  #footer-about {
    z-index: 1;
  }

  /* WORK */
  .work-layout {
    /* visibility: hidden; */
    display: none;
  }

  /* CONTACT */
  .mb-md-0, .my-md-0 {
    padding: 4%;
  }

  #footer-contact {
    z-index: -1;
  }
}

/* EXCEPTIONS */
@media (min-width: 992px) and (max-width: 1199.99px) {

  /* ABOUT */
  .about-detail {
    position: absolute;
    top: 55%;
    left: 12%;
    max-width: 87%;
    max-height: 77%;
  }

  .pathway-mobile {
    display: none;
  }

  #hire-me-button, #read-resume-button {
    width: 100%;
  }

  #footer-about {
    z-index: 1;
    position: absolute;
    top: 87%;
    margin: auto;
  }

  /* BLOG */
  #footer-blog, #footer-personal {
    position: absolute;
    top: 93%;
  }

  .coming-soon {
    left: 33%;
  }

  /* CONTACT */
  #footer-contact {
    z-index: -1;
    position: absolute;
    top: 87%;
    margin: auto;
  }
}

@media (min-width: 1400px) {
  .section-two, .section-three {
    /* font-size: 1.25rem; */
  }
}

/* DEVICES OF SMALLER RESOLUTION THAN */
@media (max-width: 768px) {

  /* COMMON */
  body {
    overflow-x: visible;
    overflow-y: visible;
  }

  .background-video {
    position: relative;
    top: 55%;
    left: 0%;
    text-align: left;
    padding-right: 10%;
  }

  .bear-video {
    width: 100%;
    height: auto;
    padding: 33% 0%;
  }

  .contact-footer {
    position: relative;
    top: 15%;
  }

  /* ABOUT */
  .hari-image {
    position: absolute;
    left: 44.5%;
    top: 13%;
  }

  .y-1998 {
    position: absolute;
    top: 35%;
    left: 60%;
  }

  .y-2014 {
    position: absolute;
    top: 52%;
    left: 20%;
  }

  .y-2016 {
    position: absolute;
    top: 65%;
    left: 60%;
  }

  .y-2019 {
    position: absolute;
    top: 83%;
    left: 5.75%;
  }

  .y-2020-1 {
    position: absolute;
    top: 96%;
    left: 60%;
  }

  .y-2020-2 {
    position: absolute;
    top: 110%;
    left: 20%;
  }

  .y-2020-3 {
    position: absolute;
    top: 120%;
    left: 60%;
    z-index: 3;
  }

  .why {
    text-align: center;
    position: absolute;
    left: 79%;
    top: 19%;
    width: 20%;
    height: auto;
    transform: rotate(-5deg);
  }

  .skill-list {
    top: 115%;
    list-style: none;
    font-family: 'Courier Prime', monospace;
    color: #0d151c;
  }

  .passion-list {
    top: 115%;
    list-style: none;
    font-family: 'Courier Prime', monospace;
    color: #0d151c;
  }

  /* NEW-ABOUT */
  .pathway {
    visibility: hidden;
  }

  .pathway-mobile {
    position: absolute;
    left: 47%;
    top: 33%;
    width: 45px;
    height: -webkit-fill-available;
  }

  #footer-about {
    position: absolute;
    top: 235%;
    z-index: 3;
  }

  .section-three {
    position: absolute;
    top: 135%;
  }

  .skill-tick, .passion-tick {
    padding: 2%;
  }

  /* WORK */
  #footer-work {
    background-color: #fff;
    text-align: center;
    padding: 1% 15% 1%;
    width: 100%;
    position: relative;
    top: 15%;
  }

  .work-showcase {
    display: none;
  }

  /* BLOG */
  #footer-blog, #footer-personal {
    position: absolute;
    top: 93%;
  }

  .coming-soon {
    left: 33%;
  }
}

/* O_L_D */
/* commit 615a9c877499c888d12713cd7fecc714d5469e57 on github */
/* *********END**************/
/* 2k RESOLUTION */
@media (min-width: 2040px) {

  /* COMMON */
  /* ABOUT */
  /* WORK */
  .work-showcase {
    display: none;
  }

  .work-layout {
    visibility: hidden;
  }
}
