/* MEDIA QUERY BREAKPOINTS */
/* G_U_I_D_E BEGINNING

//Using min-width PREFERED

 // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

//Using max-width

@media (max-width: 575.98px) { ... }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }

                              G_U_I_D_E ENDING/

                                  /* REAL USAGE */
/*// Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

  /* COMMON */
  .c-filter {
    justify-content: center;
  }

  .background-video {
    position: relative;
    top: 77%;
    text-align: center;
  }

  .custom-top-container {
    padding-bottom: 0px;
  }

  /* ABOUT */


}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  /* COMMON */
  .custom-dropdown {
    padding-bottom: 7%;
  }

  .c-filter {
    /* margin-bottom: 10rem; */
    padding: 0 10%;
  }

  /* ABOUT */
  .x-4 {
    position: absolute;
    top: 38%;
    left: 71.5%;
  }

  .line-5 {
    width: 10%;
    height: auto;
    position: absolute;
    top: 33%;
    left: 61.75%;
  }

  .line-7 {
    width: 10%;
    height: auto;
    position: absolute;
    top: 41%;
    left: 62.75%;
  }

  .y-2020-3 {
    position: absolute;
    top: 44.5%;
    left: 25%;
  }

  .job-search {
    position: absolute;
    top: 39%;
    left: 30.55%;
  }

  .blockquote {
    margin-bottom: 1rem;
    font-size: 1rem;
  }

  .y-1998 {
    position: absolute;
    top: 21%;
    left: 25%;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  /* COMMON */
  .contact-footer {
    position: absolute;
    margin: auto;
    bottom: 0%;
    padding-top: 2%;
  }

  /* ABOUT */
}

/* EXCEPTIONS */
@media (max-width: 768px) {

  /* COMMON */
  .background-video {
    position: relative;
    top: 55%;
    left: 0%;
    text-align: left;
    padding-left: 0%;
    padding-right: 10%;
  }

  .bear-video {
    width: 100%;
    height: auto;
  }

  .container-fluid {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  body {
    overflow-x: visible;
    overflow-y: visible;
  }

  /* ABOUT */
  body {
    overflow-x: scroll;
    overflow-y: scroll;
  }

  .hari-image {
    position: absolute;
    left: 40%;
    top: 13%;
  }

  .dot {
    position: absolute;
    top: 32.75%;
    left: 45%;
  }

  .line-1 {
    left: 41%;
    transform: rotate(90deg);
    top: 38%;
  }
  .line-2 {
      width: 10%;
      height: auto;
      position: absolute;
      top: 46.25%;
      left: 41.5%;
      transform: rotate(90deg);
  }
  .line-3 {
    width: 10%;
    height: auto;
    position: absolute;
    top: 54%;
    left: 41.5%;
    transform: rotate(90deg);
}
.line-4 {
    width: 10%;
    height: auto;
    position: absolute;
    top: 62%;
    left: 42%;
    transform: rotate(90deg);
}
.line-5 {
    width: 10%;
    height: auto;
    position: absolute;
    top: 70%;
    left: 42%;
    transform: rotate(90deg);
}
.turn-1, .turn-2{
  display: none;
}
.line-6 {
    width: 10%;
    height: auto;
    position: absolute;
    top: 78%;
    left: 42.5%;
    transform: rotate(90deg);
}
.line-7 {
    width: 10%;
    height: auto;
    position: absolute;
    top: 86%;
    left: 43%;
    transform: rotate(90deg);
}
.line-8 {
    width: 10%;
    height: auto;
    position: absolute;
    top: 94%;
    left: 43.5%;
    transform: rotate(90deg);
}
.line-9 {
    width: 10%;
    height: auto;
    position: absolute;
    top: 102%;
    left: 44%;
    transform: rotate(90deg);
}
.x-1 {
    position: absolute;
    top: 40%;
    left: 45%;
}
.x-2 {
    position: absolute;
    top: 50%;
    left: 44%;
}
.x-3 {
    position: absolute;
    top: 63%;
    left: 45%;
}
.x-4 {
    position: absolute;
    top: 70%;
    left: 44%;
}
.x-5 {
    position: absolute;
    top: 80%;
    left: 46.5%;
}
.x-6 {
    position: absolute;
    top: 90%;
    left: 45%;
}
.job-search {
    position: absolute;
    top: 105.75%;
    left: 45%;
}
  .contact-footer {
    position: absolute;
    top: 165%;
  }

}

/* O_L_D */
/* commit 615a9c877499c888d12713cd7fecc714d5469e57 on github */
/* *********END**************/
/* 2k RESOLUTION */
@media (min-width: 2040px) {

  /* COMMON */
  body h4 {
    font-size: 2rem;
  }

  .y-description, .skill-category-item, .passion-category-item {
    font-size: 2rem;
  }
}
