/* MEDIA QUERY BREAKPOINTS */
/* G_U_I_D_E BEGINNING

//Using min-width PREFERED

 // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

//Using max-width

@media (max-width: 575.98px) { ... }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }

                              G_U_I_D_E ENDING/

                                  /* REAL USAGE */
/*// Small devices (landscape phones, 576px and up) */
@media (min-width: 576px)  {

  /* COMMON */
  .c-filter {
    justify-content: center;
  }

  .background-video {
    position: relative;
    top: 77%;
    text-align: center;
  }

  .custom-top-container {
    padding-bottom: 0px;
  }

  /* ABOUT */
  /* WORK */


}

/* // Medium devices (tablets, 768px and up), no less than 992px */
/* COMBINED MEDIAQUERY */
@media (min-width: 768px) and (max-width:992px) {

  /* COMMON */
  body {
    overflow-x: visible;
    overflow-y: visible;
  }

  .contact-footer {
    background-color: #fff;
    text-align: center;
    padding: 1% 15% 1%;
    width: 100%;
    position: relative;
    top: 15%;
  }

  /* ABOUT */
  .y-1998 {
    position: absolute;
    top: 21%;
    left: 43%;
  }

  .y-2014 {
    position: absolute;
    top: 21%;
    left: 59%;
  }

  .y-2016 {
    position: absolute;
    top: 21%;
    left: 73%;
  }

  /* .x-4 {
    position: absolute;
    top: 37.5%;
    left: 84%;
    transform: rotate(10deg);
  } */

  .y-2020-3 {
    position: absolute;
    top: 44.5%;
    left: 19%;
  }

  /* .job-search {
    position: absolute;
    top: 36%;
    left: 46%;
  } */

  .hari-image {
    width: 7%;
    height: auto;
    position: absolute;
    top: 25%;
    left: 32%;
    /* ALSO LEARNT NEW STUFF--makes a difference-- left: 2-%; */
  }

  /* .turn-1 {
    position: absolute;
    top: 33.25%;
    width: 2%;
    height: auto;
    left: 91.5%;
  }

  .turn-2 {
    position: absolute;
    top: 35%;
    width: 2%;
    height: auto;
    left: 92%;
  }

  .line-5 {
    width: 10%;
    height: auto;
    position: absolute;
    top: 33%;
    left: 82%;
  }

  .line-4 {
    width: 10%;
    height: auto;
    position: absolute;
    top: 33%;
    left: 72%;
    transform: rotate(6.05deg);
  }

  .x-3 {
    position: absolute;
    top: 32%;
    left: 77%;
  }

  .line-3 {
    width: 10%;
    height: auto;
    position: absolute;
    top: 33%;
    left: 62%;
  }

  .line-2 {
    width: 10%;
    height: auto;
    position: absolute;
    top: 33%;
    left: 52%;
    transform: rotate(6.05deg);
  }

  .line-1 {
    width: 10%;
    height: auto;
    position: absolute;
    top: 33%;
    left: 42%;
  }

  .x-2 {
    position: absolute;
    top: 32%;
    left: 60%;
  }

  .x-1 {
    position: absolute;
    top: 32%;
    left: 45%;
  }

  .dot {
    position: absolute;
    top: 32.75%;
    left: 41.25%;
  }

  .line-7 {
    width: 10%;
    height: auto;
    position: absolute;
    top: 38.25%;
    left: 83%;
  }

  .line-6 {
    width: 10%;
    height: auto;
    position: absolute;
    top: 38.25%;
    left: 73%;
    transform: rotate(6.05deg);
  }

  .line-9 {
    width: 10%;
    height: auto;
    position: absolute;
    top: 38.25%;
    left: 63%;
  }

  .line-8 {
    width: 10%;
    height: auto;
    position: absolute;
    top: 38.25%;
    left: 53%;
    transform: rotate(6.05deg);
  } */

  .y-2019 {
    position: absolute;
    top: 44.5%;
    left: 76.5%;
    width: 30%;
    z-index: 3;
  }

  /* .x-5 {
    position: absolute;
    top: 37.5%;
    left: 65%;
  } */

  .y-2020-1 {
    position: absolute;
    top: 44.5%;
    left: 62%;
  }

  /* .x-6 {
    position: absolute;
    top: 37%;
    left: 51%;
    transform: rotate(-17deg);
  } */

  .y-2020-2 {
    position: absolute;
    top: 44.5%;
    left: 50%;
  }

  .y-2020-3 {
    position: absolute;
    top: 44.5%;
    left: 32%;
  }
/* NEW-ABOUT */
.pathway{
  visibility: hidden;
}
.pathway-mobile{
  position: absolute;
  left: 47%;
  width: 45px;
}


  /* WORK */
  .work-showcase {
    /* visibility: collapse; */
    display: none;
  }

  #footer-work-mobile {
    background-color: #fff;
    text-align: center;
    padding: 1% 15% 1%;
    width: 100%;
    position: relative;
    top: 15%;
    visibility: visible;
  }
  #footer-work{
    visibility: hidden;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  /* COMMON */

  .custom-dropdown {
    padding-bottom: 7%;
  }

  .c-filter {
    /* margin-bottom: 10rem; */
    padding: 0 10%;
  }

  .contact-footer {
    background-color: #fff;
    text-align: center;
    padding: 1% 15% 1%;
    width: 100%;
    position: relative;
    top: 15%;
  }

  /* ABOUT */
  /* .x-4 {
    position: absolute;
    top: 38%;
    left: 71.5%;
  }

  .line-5 {
    width: 10%;
    height: auto;
    position: absolute;
    top: 33%;
    left: 61.75%;
  }

  .line-7 {
    width: 10%;
    height: auto;
    position: absolute;
    top: 41%;
    left: 62.75%;
    transform: rotate(-5.75deg);
  } */

  .y-2020-3 {
    position: absolute;
    top: 44.5%;
    left: 45%;
  }

  /* .job-search {
    position: absolute;
    top: 39%;
    left: 30.55%;
  } */



  .y-1998 {
    position: absolute;
    top: 21%;
    left: 25%;
  }

  /* .job-search {
    position: absolute;
    top: 39%;
    left: 29.55%;
  } */

  /* .col-lg-4{
    max-width: 27%;
    max-height: 85%;
  } */

  /* WORK */
  .work-layout {
    display: none;
  }
  .work-showcase{
    visibility: visible;
  }

}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  /* COMMON */
  .contact-footer {
    position: relative;
    margin: auto;
    top: : 15%;
    padding-top: 2%;
    z-index: 2;
  }

  /* ABOUT */
  /* .job-search {
    position: absolute;
    top: 39%;
    left: 30.75%;
  }

  .line-7 {
    width: 10%;
    height: auto;
    position: absolute;
    top: 41%;
    left: 62.75%;
    transform: rotate(-3.75deg);
  } */
  .skill-list {
    position: absolute;
    left: 10%;
    top: 55%;
  }
  .passion-list {
    position: absolute;
    left: 57%;
    top: 55%;
  }
  .my-words{
    position: absolute;
    left: 40%;
    top: 55%;
    /* font-size: 1rem; */
    text-align: center;
    color: #0d151c;
  }
  .pathway-mobile{
    visibility: hidden;
  }

  /* WORK */
  .work-layout{
    /* visibility: hidden; */
    display: none;
  }
}

/* EXCEPTIONS */
@media (min-width: 992px) and (max-width: 1200px) {
  /* ABOUT */
  .about-detail{
    position: absolute;
    top: 55%;
    left: 12%;
    max-width: 87%;
    max-height: 77%;
    /* font-size: 1rem; */
  }
  .pathway-mobile{
    visibility: hidden;
  }
  #hire-me-button, #read-resume-button{
    width: 100%;
  }
}

@media (min-width: 1400px) {
  .section-two, .section-three{
    /* font-size: 1.25rem; */
  }
}


/* DEVICES OF SMALLER RESOLUTION THAN */
@media (max-width: 768px) {

  /* COMMON */
  .background-video {
    position: relative;
    top: 55%;
    left: 0%;
    text-align: left;
    /* padding-left: 0%; */
    padding-right: 10%;
  }

  .bear-video {
    width: 100%;
    height: auto;
    padding: 33% 0%;
  }

  /* .container-fluid {
    padding-top: 0px;
    padding-bottom: 0px;
  } */

  body {
    overflow-x: visible;
    overflow-y: visible;
  }

  .contact-footer {
    position: relative;
    top: 15%;
  }

  /* ABOUT */
  body {
    overflow-x: scroll;
    overflow-y: scroll;
  }

  .hari-image {
    position: absolute;
    left: 44.5%;
    top: 13%;
  }

  /* .dot {
    position: absolute;
    top: 32.75%;
    left: 45%;
  }

  .line-1 {
    left: 41%;
    transform: rotate(90deg);
    top: 38%;
  }

  .line-2 {
    width: 10%;
    height: auto;
    position: absolute;
    top: 46.25%;
    left: 41.5%;
    transform: rotate(90deg);
  }

  .line-3 {
    width: 10%;
    height: auto;
    position: absolute;
    top: 54%;
    left: 41.5%;
    transform: rotate(90deg);
  }

  .line-4 {
    width: 10%;
    height: auto;
    position: absolute;
    top: 62%;
    left: 42%;
    transform: rotate(90deg);
  }

  .line-5 {
    width: 10%;
    height: auto;
    position: absolute;
    top: 70%;
    left: 42%;
    transform: rotate(90deg);
  }

  .turn-1, .turn-2 {
    display: none;
  }

  .line-6 {
    width: 10%;
    height: auto;
    position: absolute;
    top: 78%;
    left: 42.5%;
    transform: rotate(90deg);
  }

  .line-7 {
    width: 10%;
    height: auto;
    position: absolute;
    top: 86%;
    left: 43%;
    transform: rotate(90deg);
  }

  .line-8 {
    width: 10%;
    height: auto;
    position: absolute;
    top: 94%;
    left: 43.5%;
    transform: rotate(90deg);
  }

  .line-9 {
    width: 10%;
    height: auto;
    position: absolute;
    top: 102%;
    left: 44%;
    transform: rotate(90deg);
  }

  .x-1 {
    position: absolute;
    top: 40%;
    left: 45%;
  }

  .x-2 {
    position: absolute;
    top: 52%;
    left: 44%;
  }

  .x-3 {
    position: absolute;
    top: 63%;
    left: 45%;
  }

  .x-4 {
    position: absolute;
    top: 76%;
    left: 44%;
  }

  .x-5 {
    position: absolute;
    top: 83%;
    left: 46.5%;
  }

  .x-6 {
    position: absolute;
    top: 99%;
    left: 45%;
  }

  .job-search {
    position: absolute;
    top: 105.75%;
    left: 45%;
  } */

  .y-1998 {
    position: absolute;
    top: 35%;
    left: 55%;
  }

  .y-2014 {
    position: absolute;
    top: 52%;
    left: 27%;
  }

  .y-2016 {
    position: absolute;
    top: 65%;
    left: 55%;
  }

  .y-2019 {
    position: absolute;
    top: 83%;
    left: 17%;
  }

  .y-2020-1 {
    position: absolute;
    top: 96%;
    left: 54%;
  }

  .y-2020-2 {
    position: absolute;
    top: 110%;
    left: 29%;
  }

  .y-2020-3 {
    position: absolute;
    top: 120%;
    left: 55%;
    z-index: 3;
  }

  .why {
    text-align: center;
    position: absolute;
    left: 79%;
    top: 19%;
    width: 20%;
    height: auto;
    transform: rotate(-5deg);
  }

  .skill-list {
    /* position: absolute;
    left: 1%; */
    top: 115%;
    list-style: none;
    font-family: 'Courier Prime', monospace;
    color: #0d151c;
  }

  .passion-list {
    /* position: absolute;
    left: 55%; */
    top: 115%;
    list-style: none;
    font-family: 'Courier Prime', monospace;
    color: #0d151c;
  }

  /* NEW-ABOUT */
  .pathway{
    visibility: hidden;
  }
  .pathway-mobile{
    position: absolute;
    left: 47%;
    top: 33%;
    width: 45px;
  }
#footer-about{
  position: absolute;
  top: 225%;
}
.section-three{
  position: absolute;
  top: 135%;
}
.skill-tick, .passion-tick{
  padding: 2%;
}

  /* WORK */
  #footer-work-mobile {
    background-color: #fff;
    text-align: center;
    padding: 1% 15% 1%;
    width: 100%;
    position: relative;
    top: 15%;
    visibility: visible;
  }
  #footer-work{
    visibility: hidden;
  }
  .work-showcase{
    /* visibility: hidden; */
    display: none;
  }

}

/* O_L_D */
/* commit 615a9c877499c888d12713cd7fecc714d5469e57 on github */
/* *********END**************/


/* 2k RESOLUTION */
@media (min-width: 2040px) {

  /* COMMON */
  body h4 {
    /* font-size: 2rem; */
  }

  .y-description, .skill-category-item, .passion-category-item {
    /* font-size: 2rem; */
  }
  /* ABOUT */


  /* WORK */
  .work-showcase {
    /* visibility: visible; */
    display: none;
  }

  .work-layout{
    visibility: hidden;
  }
}
